{% extends "base.html" %}
{% block content %}
<div class="product-background"></div>
{{ block.super }}
<h1>Two Decade Confections</h1>
<div class="grid-container">
  {% for product in object_list %}
  <div class="product">
    <h4>
      <a href="/products/{{product.id}}">{{product.name}}</a><br>
      ${{product.price}}
    </h4>
    <div class="product-img">
      {% if product.productimage_set.all.count == 0 %}
      <img src="http://via.placeholder.com/400x400?text=placeholder">
      {%else%}
      <img src="{{product.productimage_set.first.image.url}}" alt="">
      {% endif%}
    </div>
    <div class="description">
      {{ product.description }}
    </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}
