{% extends "base.html" %}

<script type="text/javascript">
  {% block jquery %}
    // alert("hi")
    $("#jq-msg").hide()
    $("#submit-btn").click(function(event){
      event.preventDefault();
      var formData = $("#add-form").serialize();
      console.log(formData);
      //ajax call for add_to_art
      $.ajax({
        type:"GET",
        url: {% url 'cart' %},
        data: formData,
        success: function(data){
          $("#jq-msg").text("Added: " + data.created + " deleted: " + data.deleted).show();
          console.log(data);
        },
        error: function(response, error){
          console.log(response);
          console.log(error);
          $("#add-form").submit();
        }
      });
    });
  {% endblock jquery %}
</script>
{% block content %}
  <h3>product detail {{object.name}}</h3>

  <div id="alert-msg">

  </div>

  {% if object.productimage_set.count > 0 %}
    <div class="">
        {% for img in object.productimage_set.all %}
          {{img.image.file}}<br>
          {{img.image.url }}<br>
          <img src="{{img.image.url}}" alt="">
        {% endfor %}
    </div>
  {% endif %}

  <ul>
    <li>{{object.name}}</li>
    <li>{{object.description}}</li>
    <li class="price">{{object.price}}</li>
    {% if object.sale_price != None %}
      <li class="sale-price">{{object.sale_price}}</li>
    {% endif %}
  </ul>

  <form id="add-to-cart-form" class="" action="{% url 'products_list_view' %}" method="get">
    <select class="" name="">
      {% for vari in object.variation_set.all %}
      <option value="{{vari.id}}">{{vari}}</option>
      {% endfor %}
    </select>

    <input type="number" name="qty" value="1">
    <input id="submit-btn" type="submit" name="submit" value="Add To Cart">
  </form>
{% endblock content %}
