{% load staticfiles %}

<script type="text/javascript">
{% block JQuery %}
$(document).ready(function(){
  $("#JQuery-message").hide()});
$("#submit-btn").click(function(event){
  event.preventDefault()
  var formData = $("#add-form").serialize()
  console.log(formData)

  // AJAX Call for add_to_cart
  $.ajax({
    type: "GET",
    url: {% url 'cart' %},
    data: formData,
    success: function(data){
      $("#JQuery-message").text("Added" + data.created + "Deleted" + data.deleted).show()
      console.log(data)
    },
    error: function(response,error){
      console.log(response)
      console.log(error)
      $("#add-form").submit();
    }
  });
});
{% endblock JQuery %}

</script>

{% block content %}
  <div class="product-detail container col-xs-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h1>{{object.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      {% if object.productimage_set.count > 0 %}
        <div>
        {% for img in object.productimage_set.all %}
          <img class='img-responsive' src='{{ img.image.url }}' />
        {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <p class="product-description">{{object.description}}</p>
        <p id="JQuery-message" class="alert alert-success"></p>
        <p>Individual price: ${{object.price}}</p>
        <form id = "add-form" method = "GET" action = "{% url 'cart' %}">
          <div class="form-group">
            <label for="variation">Package</label>
            <select class="form-control" name="item">
              {% for vari_choice in object.variation_set.all %}
              <option value="{{vari_choice.id}}">{{ vari_choice }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input name="qty" type="number" class="form-control" min="1" id="" placeholder="">
          </div>
          <input id="submit-btn" type="submit" name="" class="btn btn-success" value="Add to Cart"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
