<div id="parallax-backgrounds">
  <div class="parallax1">

  </div>
  <div class="parallax2"></div>
  <div class="parallax3"></div>
  <div class="parallax4"></div>
</div>

{% extends "base.html" %}
{% block content %}
  <div id="container">
    <div class="row fp">
      <div class="fp-heading col-xs-12">
        <h1>Got a Sweet Tooth?</h1>
      </div>
    </div>
    <div class="row fp">
      <div class="col-sm-8 col-xs-12">
        <div class="fp-copy">
          <h2>Lorem ipsum dolor sit amet,</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam laboriosam dolor animi error, autem eligendi incidunt totam dignissimos, vitae, nobis, voluptatem officia quaerat laudantium quisquam fugit impedit neque itaque molestiae.</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 fp-img">
        <img src="/static/front-page/fp-truffles.jpg" alt="">
      </div>
    </div>
    <div class="row fp">
      <div class="col-sm-4 col-xs-12 fp-img">
        <img src="/static/front-page/fp-cupcake.jpeg" alt="">
      </div>
      <div class="col-sm-8 col-xs-12 fp-copy">
        <h2>Lorem ipsum dolor sit amet,</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam laboriosam dolor animi error, autem eligendi incidunt totam dignissimos, vitae, nobis, voluptatem officia quaerat laudantium quisquam fugit impedit neque itaque molestiae.</p>
      </div>
    </div>
    <div class="row fp">
      <div class="col-sm-8 col-xs-12 fp-copy">
        <h2>Lorem ipsum dolor sit amet,</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam laboriosam dolor animi error, autem eligendi incidunt totam dignissimos, vitae, nobis, voluptatem officia quaerat laudantium quisquam fugit impedit neque itaque molestiae.</p>
      </div>
      <div class="col-sm-4 col-xs-12 fp-img">
        <img src="/static/front-page/fp-macarons.jpeg" alt="">
      </div>
    </div>
  </div>


{% endblock content %}
